body {
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.azul {
    color: blue;
}

.negrita {
    font-weight: bold;
}

button {
    padding:1em;
    font-size: 2em;
    background: rgb(121, 179, 255);
    border-radius: 20px;
}